{% extends 'base.html' %}

{% block content %}
<h1>Add Section</h1>
<br>
<form method="post" id="addSectionForm" data-courses-url="{% url 'ajax_load_courses' %}">
    {% csrf_token %}
    <label>Subject</label>
    <select name="subject" id="select_subject" class="form-control" required>
        <option value="none" selected disabled hidden>
          Select a Subject
        </option>
<!--        <option value="">-&#45;&#45;Select Subject-&#45;&#45;</option>-->
        {% for subject in subjects %}
        <option value="{{subject.id}}">{{subject.name}}</option>
        {% endfor %}
    </select>
    <br><br>
    <label>Course</label>
    <select name="course" id="select_course" class="form-control" required>

    </select>
    <br><br>
    <input type="submit" value="Submit" class="form-control btn btn-primary">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#select_subject").change(function () {
            var url = $("#addSectionForm").attr("data-courses-url"); // get the url of the `ajax_load_courses` view
            var subject_pk = $(this).val(); // get the selected subject ID from the HTML input

            $.ajax({                // initialize an AJAX request
                url: url,           // set the url of the request
                data: {
                    'subject_pk': subject_pk    // add the subject id to the GET parameter
                },
                success: function (data) {  // `data` is the return of the `ajax_load_courses` view function
                    $("#select_course").html(data);   // replace the contents of the course input with the data that came from the server
                }
            });
        });
    </script>

{% endblock %}