<!doctype html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Course Monitor</title>
</head>
<style>
	h1 {display: inline;}
</style>
<body>
	<h1>Welcome</h1>
	<div>
		<small> Service not yet available. Will be available for Fall 2021.
			<br>
		</small>
	</div>
	<br>
	<div class="navbar-nav">
		<a class="nav-item nav-link" href="{% url 'home' %}">Home</a>&emsp;
		<a class="nav-item nav-link" href="{% url 'course_add' %}">Track a Class</a>&emsp;
		<a class="nav-item nav-link" href="{% url 'course_untrack' %}">Untrack a Class</a>&emsp;
		{% if user.is_authenticated %}
			<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>&emsp;
			<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
		{% else %}
			<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>&emsp;
			<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
		{% endif %}
	</div>
	{% if messages %}
		{% for message in messages %}
		 <div class="alert alert-{{ message.tags }}">
			 {{ message }}
		 </div>
		{% endfor %}
	{% endif %}
	<hr>
	{% block content %}{% endblock %}
	</body>

</html>